<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BepInEx.ConfigurationManager" version="15.1.0" targetFramework="net35" />
  <package id="IllusionLibs.BepInEx" version="5.0.0.170" targetFramework="net35" />
  <package id="IllusionLibs.HoneySelect" version="2017.6.30" targetFramework="net35" />
</packages>